flask
Flask-Bcrypt
Flask-DebugToolbar
flask-sqlalchemy
Flask-WTF
flask-cors
ipython
psycopg2-binary
sqlalchemy
bcrypt
Werkzeug

appnope
backcall
blinker
cffi
Click
decorator
ipython-genutils
itsdangerous
jedi
Jinja2
MarkupSafe
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pycparser
Pygments
simplegeneric
six
traitlets
wcwidth
WTForms
gunicorn
